body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.employees-table {
    width: 100%;
    max-width: 860px;
    background-color: #fff;
    border-collapse: collapse;
}

/* Стили для заголовков таблицы */
.employees-table > thead > tr > th {
    padding: 17px 10px 11px;
    text-align: left;
    font-weight: lighter;
    border: 1px solid #c6c6c6;
    background-color: #3498db;
    color: #fff;
}

/* Стили для строк таблицы (tr) */
.employees-table > tbody > tr {
    background-color: #f7f7f7;
}

.employees-table > tbody > tr:nth-child(odd) {
    background-color: #e9e9e9;
}

/* Hover эффект для строк */
.employees-table > tbody > tr:hover {
    background-color: #e3f2fd;
    cursor: pointer;
}

.employees-table > tbody > tr > td {
    padding: 17px 10px 12px;
    text-align: left;
    color: #333;
    border: 1px solid #c6c6c6;
    line-height: 1.1;
}