
body {
    background-color: #FEEBCF;
    color: #676565;
    line-height: 1;
}

.title {
    margin-bottom: 0;
}

.title pre {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 350;
}

.course-info p {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
}

.course-info .label {
    color: #37819F;
    font-weight: bold;
}

.text p {
    text-indent: 10px; /* Отступ первой строки */
    margin: 10px 0; /* Отступы между параграфами */
    line-height: 1.5;
    font-family: Italic, sans-serif;
    font-weight: 150;
}