* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #f7f3e8;
    padding: 5px;
}

.course-info {
    max-width: 710px; /* Ограничение ширины блока */
    padding: 9px 15px; /* Внутренние отступы */
    background-color: #f2e7d3;
    border-radius: 5px;
    color: #676565;
    line-height: 1.5; /* Интервал между строками */
    font-size: 16px;
}

.course-info h1 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1.2
}

.course-info h2 {
    font-size: 16px;
    font-weight: bold;
    color: #37819F;
    margin-top: 5px;
    margin-bottom: 8px;
}

/* Стиль для параграфов */
.course-info p {
    font-weight: 300;
    margin-bottom: 5px;
}

.text {
    text-indent: 17px; /* Отступ первой строки */
    font-size: 15px;
}

/* Стиль для перечеркнутой старой цены */
.old-price {
    text-decoration: line-through;
    color: #676565;
    margin-right: 5px;
}

/* Стиль для жирного текста (strong) */
.course-info strong {
    font-weight: bold;
}

strong {
    color: #37819F;
}