* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 25px;
}

.new-todo-item-label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.input-wrapper {
    margin-bottom: 10px;
}

.new-text-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.new-text-field:focus {
    outline: none;
    border-color: #007bff;
}

.new-text-field.invalid {
    border-color: #dc3545;
}

.error-message {
    color: #dc3545;
    font-size: 16px;
    display: none;
    gap: 4px
}

.invalid ~ .error-message {
    display: block;
}

.container li::marker {
    content: "";
}

.container li {
    margin-top: 10px;
}

.button-group button,
.new-todo-item-form button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    justify-content: center;
}

.button-group {
    display: flex;
    gap: 5px;
    flex-shrink: 0; /* Не сжимать кнопки */
}

.button-group button:hover,
.new-todo-item-form button:hover {
    transform: translateY(-1px);
}

.button-group button:active,
.new-todo-item-form button:active {
    transform: translateY(0);
}

.new-todo-item-form button {
    width: 100%;
    background: #007bff;
    color: #fff;
    font-weight: 600;
}

.new-todo-item-form button:hover {
    background: #0056b3;
}

.edit-button {
    background: #28a745;
    color: #fff;
    padding: 6px 12px;
}

.edit-button:hover {
    background: #218838;
}

.delete-button {
    background: #dc3545;
    color: #fff;
    padding: 6px 12px;
}

.delete-button:hover {
    background: #c82333;
}

.edit-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.edit-todo-item-text-field {
    flex: 1;
    min-width: 55%;
    padding: 6px;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 14px;
}

.edit-todo-item-text-field.invalid {
    border-color: #dc3545;
}

.save-button {
    background: #28a745;
    color: #fff;
    padding: 8px 14px;
}

.save-button:hover {
    background: #218838;
}

.cancel-button {
    background: #6c757d;
    color: #fff;
    padding: 8px 14px;
}

.cancel-button:hover {
    background: #5a6268;
}