* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #676565;
}

.container {
    max-width: 743px;
}

/* Заголовок */
.page-title {
    color: #666;
    font-weight: inherit;
    margin: 21px 0 5px 15px;
    font-size: 26px;
}

/* 4. Стилизация формы */
.application-form {
    background-color: #FEEBCF;
    padding: 13px; /* Внутренние отступы от краев формы до контента  */
    border-radius: 2px;
}

/* Группировка label и input */
.form-group {
    margin-bottom: 14px; /* Отступ снизу между полями  */
    margin-right: 10px;
    margin-left: 10px;
}

/* Стилизация Label (подписей) */
label {
    display: block; /* Делаем label блочным, чтобы он был над полем ввода */
    font-weight: bold;
    color: #555;
    margin-bottom: 8px; /* Отступ от текста до поля ввода */
    font-size: 14px;
}

/* Стилизация полей ввода (input и textarea) */
.form-input {
    width: 100%;
    padding: 10px 10px; /* Внутренний отступ текста внутри поля */
    height: 35px;
    border: 1px transparent;
    font-size: 14px;
    color: #333;
    outline: none;
}

/* Стилизация placeholder (подсказки) */
::placeholder {
    color: #aaa;
}

/* Текстовая область */
textarea.form-input {
    resize: vertical; /* Разрешаем растягивать только по вертикали */
    height: 114px;
    margin-bottom: 0;
}

.form-footer {
    margin-top: 0;
    /* Используем clearfix hack, так как внутри будет float  */
}

/* Clearfix через псевдоэлемент ::after  */
.form-footer::after {
    content: "";
    display: block;
    clear: both;
}

.note-text {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
    margin-bottom: 11px;
}

/* 8. Кнопка */
.submit-btn {
    background-color: #388EAB;
    color: white;
    border: none;
    height: 30px;
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer; /* Курсор в виде руки при наведении  */
    float: right; /* Прижимаем кнопку вправо  */
}

/* Эффект при наведении на кнопку (псевдокласс :hover)*/
.submit-btn:hover {
    background-color: #2a6e85; /* Немного темнее при наведении */
}
